@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.display-flex{
     display: flex;
}

.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.text-primary{
    color: #FF900E;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1)
}
.btn-primary{
   background-color:#FF900E ;
   color: white;
   padding:20px 25px;
   font-weight: 600;
   font-size: 1.25rem;
   border: none;
   border-radius: 8px;
}
/* header styles */


/* nav styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
   list-style: none;
   margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
/* banner styles */
.banner-content{
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;

}
.banner-img img{
    width: 100%;
}

/* team and feature related styles */
.teams{
    align-items: center;

}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}

/* facts styles */
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.section-description{
    max-width: 542px;
    margin-bottom: 100px;
}
/* sponsors related styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-company img{
    filter: grayscale(100%);
}
/* media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links ,.teams{
        flex-direction: column;
    }
    .team-img-container, .facts-container,
    .sponsor-company{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-company{
        justify-items: center;
        gap: 50px;
    }
    .our-features{
        margin-left: 20px;
    }
}

/* medium device */
@media screen and (min-width:576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 20px auto;
    }
    .sponsor-company, .facts-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 50px;
    }
}